/* style for testimonial section start */
.testimonials-body {
    position: relative;
}
.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    transition: transform .2s,box-shadow .2s;
}
.testimonial-next-prev {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);        
    top: 110%;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transition: 0.2s;
    transform: translateY(-5px);
}

.swiper-button-prev svg {
    transform: rotate(180deg);
}
.swiper-button-prev svg ,
.swiper-button-next svg {
    width: 25px;
    color: #1abc9c;
    flex: 0 0 auto;
}
.swiper-button-prev svg path,
.swiper-button-next svg path{
    fill: #1abc9c !important;
}
#swiper1 {
    height: auto !important;
}
.testimonial__card {
    position: relative;
    height: 320px !important;
    background-color: #fff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(50,50,93,0.1);
    border-top: 4px solid #1abc9c;
    border-radius: 4px;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.testimonial__img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4);
    overflow: hidden;
}
.testimonial__img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.testimonial__name {
    padding: 50px 10px 10px 10px;
}

.testimonial__description {
    overflow-y: auto;
    margin: 10px 20px;
    padding: 0 10px;
    height: 170px;
    text-align: left;
}
.testimonial__description::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.testimonial__description::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.testimonial__description::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 3px;
}
.testimonial__description::-webkit-scrollbar-track {
    background-color: transparent;
}
.testimonial__description p {
    font-size: 14px;
}
/* style for testimonial section start */